// ant default vars
// https://github.com/ant-design/ant-design/blob/master/components/style/themes/default.less

// DESIGN SETTINGS
// ===============================

// Palette
@brown: #8D5103;
@yellow: #FFD600;
@default-bg: #F0F0C0;
@orange: #F76F05;
@golden: #F0A800;

// MODIFY VARIABLES
// ===============================
@primary-color: @orange;
@body-background: @default-bg;
@layout-body-background: transparent;
@layout-header-background:  transparent;
@layout-header-height: auto;

// @icon-url is handled in the webpack.${environment}.config and assets/styles/common/iconfonts.less files

// SELECTORS
// ===============================
body {
    background-image: url('http://www.portalczn.com.br/plm/bodybg.png');
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.logo {
    width: 208px;
    height: 176px;
    display: inline-block;
    background-image: url('http://www.portalczn.com.br/plm/logo.png');
    background-position: top center;
    background-repeat: no-repeat;
}
.list-beers {
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
}
.ant-avatar {
    overflow: visible;
    height: auto;
    img {
        width: 30px;
        height: auto;
    }
}
.beer-img {
    text-align: center;
    > div {
        display: inline-block;
        width: 250px;
        height: 250px;
        padding: 20px;
        overflow: hidden;
        border-radius: 50%;
        background-size: cover;
        background-position: center center;
        margin-bottom: 2em;
        border: 1px solid #eaeaee;
    }
}